<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title th:text="${title}"></title>
</head>
<body>
<header>
    <table style="width:100%; background-color: #e7fff3">
        <tbody>
        <tr>
            <td style="text-align: center; font-weight: bold; font-size: larger; width: 100%; border: 1px solid"
                th:text="Регистрация">
            </td>
            <td><a class="button" href="/">Главная</a></td>
        </tr>
        </tbody>
    </table>
</header>
<main>
    <form action="register-user" th:object="${user}" method="post">
        <table th:replace="~{blocks/user-blocks :: edit_user_table}"></table>
        <input type="text" hidden="hidden" th:field="${user.id}">
        <input type="checkbox" hidden="hidden" th:field="${user.blocked}">
        <table style="border: none; margin: auto; padding-top: 8px">
            <tbody>
            <tr>
                <td><input type="submit" class="button" value="Готово"></td>
                <td><input type="button" class="button" onclick="history.back();" value="Отмена"></td>
            </tr>
            </tbody>
        </table>
    </form>
</main>
</body>
</html>
